@font-face {
  font-family: Nexa;
  src: url("./assets/fonts/Nexa\ Light.otf") format("opentype");
}

@font-face {
  font-family: Nexa;
  font-weight: bold;
  src: url("./assets/fonts/Nexa\ Bold.otf") format("opentype");
}

html,
body {
  background: rgb(151, 223, 255);
  font-family: Nexa, Arial, Helvetica, sans-serif;
}

section {
  margin-bottom: 50px;
}

html {
  font-size: 1em;
}

h1 { font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

#cv {
  width: 90%;
  max-width: 800px;
  background: rgb(255, 255, 255);
  margin: 30px auto;
  padding: 50px;
}

.name h1 {
  margin-bottom: 5px;
}

.name h2 {
  margin-top: 0;
  font-size: 1.25em;
  font-weight: normal;
}

.icon-container {
  float: left;
  height: 100%;
  width: 75px;
  padding-top: 4px;
}

.icon-container img {
  width: 50px;
}

.item-container {
  margin-left: 75px;
}

.item-container h3,
.item-container h4,
.item-container h5,
.item-container h6 {
  margin-bottom: 0;
}

.item-container h4 {
  margin-top: 20px;
}

.item-container h5,
.item-container h6 {
  margin-top: 3px;
}

.item-container h6 {
  font-style: italic;
}

.item-container > ul {
  list-style: none;
  padding-left: 20px;
}

.item-container > ul li ul {
  margin-top: 10px;
}

.item-container > ul li ul li {
  margin-top: 5px;
}

.item-container p {
  margin-top: 5px;
}

.item-container ul {
  margin: 0;
}

.education-title {
  float: left;
}

.education-details {
}

.paper {
  position: relative;
  box-shadow: 0 0 0.5em rgba(95, 152, 177, 0.5);
}
.paper:before,
.paper:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 1em;
  width: 50%;
  top: 80%;
  background: rgb(119, 119, 119);
  box-shadow: 0 1em 0.5em rgba(95, 152, 177);
}
.paper:before {
  transform: rotate(-3deg);
  left: 0.5em;
}
.paper:after {
  transform: rotate(3deg);
  right: 0.5em;
}
